@import "tailwindcss";

@theme {
  --color-primary: #1e40af;
  --color-secondary: #0f172a;
  --color-accent: #3b82f6;
}

body {
  background-color: var(--color-secondary);
  color: #f8fafc;
  font-family: 'Inter', sans-serif;
}
